.bg-container {
  background-color: #141420;
  min-height: 100vh;
  /* overflow: none; */
  padding: 20px;
  display: flex;
  justify-content: center;
}

.inner-container {
  width: 90%;
  max-width: 1110px;
}

h1 {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 800;
  color: #ffffff;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}

.countries-list {
  height: 260px;
  overflow-y: scroll;
  background-color: #1d1c2b;
  border: 1px solid #313f4f;
  border-radius: 8px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #313f4f;
}

p {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
}

.visit-button {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
  background-color: #2784e8;
  height: 25px;
  width: 60px;
  border-width: 0px;
  border-radius: 8px;
}

.visited-countries-container {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Roboto';
  font-size: 20px;
  color: #d7e7f3;
}

.visited-countries-list-container {
  /* display: grid;
  grid-template-columns: auto auto auto; */
  display: flex;
  flex-wrap: wrap;
}

.visited-countrie {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 200px;
  padding: 0px;
  /* margin-bottom: 10px; */
  margin: 8px;
  background-color: #1f1f2e;
  border-width: 0px;
}

img {
  height: 85%;
  width: 100%;
}

.visited-countrie-text-container {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-button {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  background-color: transparent;
  height: 25px;
  width: 60px;
  /* border-width: 0px; */
  border-radius: 8px;
  border: 1px solid #ffffff;
}

.visited-text {
  font-family: 'Roboto';
  font-size: 13px;
  color: #868f8d;
  margin-right: 10px;
}
